body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f2f2f2;
}

#map {
    height: 60vh;
    width: 100%;
    display: none; /* Hide the map initially */
}

.container {
    width: 90%;
    max-width: 400px;
    padding: 20px;
    text-align: center;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
}

.logo {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}

input[type="email"], input[type="password"], input[type="text"] {
    width: calc(100% - 20px);
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    padding: 10px 20px;
    background-color: #f88c5c;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

.sos-btn {
    font-size: 24px;
    padding: 20px;
    border-radius: 50%;
    margin: 20px 0;
    background-color: #f88c5c;
    color: white;
    border: none;
    cursor: pointer;
}

.logout-btn {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #d9534f;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

.logout-btn:hover {
    background-color: #c9302c;
}

.emergency-modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
}

.emergency-modal-content {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
}

.emergency-option {
    margin: 10px;
    padding: 10px 20px;
    background-color: #e5e5e5;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/* Styles for login and signup pages */
body.login-signup {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f2f2f2;
}

.container.login-signup {
    text-align: center;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

input.login-signup {
    width: calc(100% - 20px);
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button.login-signup {
    padding: 10px 20px;
    background-color: #f88c5c;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

button.login-signup:hover {
    background-color: #e07b4e;
}

a.login-signup {
    color: #f88c5c;
}

a.login-signup:hover {
    color: #e07b4e;
}

/* Responsive Design */
@media (min-width: 768px) {
    .container {
        width: 50%;
    }
}